<!-- Row -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="type-post blog-onecolumn">
        <div class="entry-cover">
          <div class="post-meta">
            <span class="byline">by <a href="#" title="Indesign">inDesign</a></span>
            <span class="post-date"><a href="#">MARCH 17, 2017</a></span>
          </div>
          <a href="#"><img src="http://via.placeholder.com/770x513" alt="Post" /></a>
        </div>
        <div class="entry-content">
          <div class="entry-header">
            <span class="post-category"><a title="Lifestyle">Lifestyle</a></span>
            <h3 class="entry-title"><a [routerLink]="['/post', post.id]" (click)="gotoDetails(post.id)" title="Trendy Summer Fashion">Trendy Summer Fashion</a></h3>
          </div>
          <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of
            choice is untrammelled and when nothing prevents our being able to do what we like best, every
            pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the
            claims of duty or the obligations of business it will frequently occur that pleasures have to be
            repudiated...</p>
          <a href="#" title="Read More">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="type-post blog-onecolumn">
        <div class="entry-cover">
          <div class="post-meta">
            <span class="byline">by <a href="#" title="Indesign">inDesign</a></span>
            <span class="post-date"><a href="#">MARCH 17, 2017</a></span>
          </div>
          <a href="#"><img src="http://via.placeholder.com/770x513" alt="Post" /></a>
        </div>
        <div class="entry-content">
          <div class="entry-header">
            <span class="post-category"><a href="#" title="Technology">Technology</a></span>
            <h3 class="entry-title"><a href="#" title="Traffic Jams Solved">Traffic Jams Solved</a></h3>
          </div>
          <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of
            choice is untrammelled and when nothing prevents our being able to do what we like best, every
            pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the
            claims of duty or the obligations of business it will frequently occur that pleasures have to be
            repudiated...</p>
          <a href="#" title="Read More">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="type-post blog-onecolumn">
        <div class="entry-cover">
          <div class="post-meta">
            <span class="byline">by <a href="#" title="Indesign">inDesign</a></span>
            <span class="post-date"><a href="#">MARCH 17, 2017</a></span>
          </div>
          <a href="#"><img src="http://via.placeholder.com/770x513" alt="Post" /></a>
        </div>
        <div class="entry-content">
          <div class="entry-header">
            <span class="post-category"><a href="#" title="Lifestyle">Lifestyle</a></span>
            <h3 class="entry-title"><a href="#" title="Discover Hamburger Heaven">Discover Hamburger
                Heaven</a></h3>
          </div>
          <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of
            choice is untrammelled and when nothing prevents our being able to do what we like best, every
            pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the
            claims of duty or the obligations of business it will frequently occur that pleasures have to be
            repudiated...</p>
          <a href="#" title="Read More">Read More</a>
        </div>
      </div>
    </div>
  </div><!-- Row /- -->
